body, div, a {
    padding:0;
    margin:100px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
    background-color: #5d86bb;
    width: 310px;
    height: 580px;
    border: 3px #264d73 solid;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0px -2px 10px
}
header {
    text-align: center;
    color: #e0e0eb;
    padding: none;
    margin: none;
    font-family: 'Segoe Print' ;
}

.red {
    background-color: red;
}
#total {
    height: 70px;
    width: 95%;
    margin:auto;
    background-color: #dbe4f0;
    margin-bottom: 10px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
    border-radius: 10px;

}

#numbers, #operators {
    margin: auto;
}

#operators a {
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 39px;
    padding: 2px;
    margin: 5px 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
    box-shadow: inset 0px -2px 10px

}

#numbers a {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 32pt;
    padding: 10px;
    margin: 5px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
    box-shadow: inset 0px -2px 10px
}